<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/chat.css">
    <title>Yuke | <%= title %></title>
</head>

<body>
    <div id="gridContainer">
        <div class="grid">
            <div id="me">
                <div>
                    <img id="profilePicture" src="https://www.gravatar.com/avatar/194b6e63889a2f9c433fc99fb5a9060?d=retro"
                        alt="profilePicture">
                    <label id="username">Atsukoro</label>
                    
                </div>
    
                <div>
                    <span class="selectIcons" id="logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
    
                    <span class="selectIcons" id="settings">
                        <i class="fas fa-cog"></i>
                    </span>
    
                    <span class="selectIcons" id="friends">
                        <i class="fas fa-user-friends"></i>
                    </span>
                </div>
            </div>

            <div id="contactGrid">

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/194b6e63889a2f9c433fc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">LnxCZ <span class="statusSign"></span></h1>
                        <p class="contactStatus">Prave spatne hraji osu</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/194b6e638534543534533fc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">H0ri_ <span class="statusSign"></span></h1>
                        <p class="contactStatus">Mam anime na pfp a anime nesleduji</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

                <div class="contact">
                    <div>
                        <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/1sadab6e63889a2f9c43dfc99f5569060?d=retro">
                    </div>

                    <div>
                        <h1 class="contactName">Fckinbunny <span class="statusSign"></span></h1>
                        <p class="contactStatus">Delam dalsi beaty</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="grid">
            <div id="userInfo">
                <div>
                    <img class="contactProfilePicture" src="https://www.gravatar.com/avatar/194b6e63889a2f9c433fc99f5569060?d=retro">
                    <label>Atsukoro <span class="statusSign"></span></label>
                </div>

                <div>
                    <button id="phoneCall">
                        <i class="fas fa-phone"></i>
                    </button>

                    <button id="videoCall">
                        <i class="fas fa-camera"></i>
                    </button>

                    <button id="more">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                </div>
            </div>

            <div id="messages">
            </div>

            <div id="messageInputContainer">
                <input type="text" id="messageInput" placeholder="Your message...">
            </div>
        </div>
    </div>

    <div id="settingsGrid">
        <div id="settingsBackground"></div>

        <div id="settingsWindow">
            <button id="settingsClose"><i class="fas fa-times"></i></button>
        </div>
    </div>

    <div id="logoutGrid">
        <div id="logoutBackground"></div>

        <div id="logoutWindow">
            <button id="logoutClose"><i class="fas fa-times"></i></button>

            <h1 id="logoutTitle">Do you really want to log-out?</h1>
            <button id="logUserOut">Logout</button>
        </div>
    </div>

    <div id="friendsGrid">
        <div id="friendsBackground"></div>

        <div id="friendsWindow">
            <button id="friendsClose"><i class="fas fa-times"></i></button>
        </div>
    </div>

    <script src="/public/js/chatWindowController.js"></script>
</body>

</html>