body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E5E7EB;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E5E7EB;
    border-radius: 100px;
}

#gridContainer {
    display: flex;
}

.grid {
    background-color: rgb(255, 255, 255);
    height: 800px;
    border-radius: 10px;
    padding: 10px;
}

.grid:nth-child(1) {
    width: 450px;
    height: 800px;
    margin-right: 50px;
    padding: 10px;
}

#me {
    margin-top: 3px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 30px;
}

#profilePicture {
    height: 60px;
    border-radius: 100px;
    vertical-align: middle;
}

#username {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    margin-top: -10px;
    margin-left: 5px;
}

.grid:nth-child(2) {
    width: 100%;
}

.selectIcons {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    transition: all ease-in-out 0.3s;
    float: right;
}

.selectIcons:hover {
    cursor: pointer;
    opacity: 0.8;
}

#contactGrid .contact {
    display: flex;
    background-color: #F3F4F6;
    padding: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
    margin-bottom: 10px;
    width: 90%;
}

#contactGrid {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 88%;
}

#contactGrid .contact:hover {
    cursor: pointer;
    background-color: #E5E7EB;
}

#contactGrid .contact .contactStatus,
.contactName {
    margin: 0px;
    font-family: Poppins;
}

#contactGrid .contact .contactName {
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
}

.statusSign {
    height: 14px;
    width: 14px;
    border-radius: 100px;
    background: green;
    display: inline-flex;
}

#contactGrid .contact .contactStatus {
    color: gray;
    font-size: 14px;
}

#contactGrid .contact .contactProfilePicture {
    border-radius: 100px;
    height: 60px;
    margin-right: 10px;
}

#logoutWindow {
    position: fixed;
    background-color: white;
    height: 80px;
    width: 500px;
    bottom: 0;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#logoutTitle {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    position: fixed;
    top: 0;
}

#logUserOut {
    background-color: #7C3AED;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    padding: 10px 20px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    border-radius: 10px;
    color: white;
    transition: all ease-in-out 0.3s;
}

#logUserOut:hover {
    cursor: pointer;
    opacity: 0.8;
}

#logoutBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 175, 175);
    opacity: 0.5;
    bottom: 0;
}

#logoutClose {
    position: fixed;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 26px;
    color: #4B5563;
    transition: all ease-in-out 0.3s;
}

#logoutClose:hover {
    cursor: pointer;
    opacity: 0.7;
}

#logoutGrid {
    display: none;
}

#settingsWindow {
    position: fixed;
    background-color: white;
    height: 600px;
    width: 1000px;
    bottom: 0;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#settingsBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 175, 175);
    opacity: 0.5;
    bottom: 0;
}

#settingsClose {
    position: fixed;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 26px;
    color: #4B5563;
    transition: all ease-in-out 0.3s;
}

#settingsClose:hover {
    cursor: pointer;
    opacity: 0.7;
}

#settingsGrid {
    display: none;
}

#friendsWindow {
    position: fixed;
    background-color: white;
    height: 700px;
    width: 1300px;
    bottom: 0;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#friendsBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 175, 175);
    opacity: 0.5;
    bottom: 0;
}

#friendsClose {
    position: fixed;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 26px;
    color: #4B5563;
    transition: all ease-in-out 0.3s;
}

#friendsClose:hover {
    cursor: pointer;
    opacity: 0.7;
}

#friendsGrid {
    display: none;
}

#userInfo {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px #E5E7EB solid;
    padding-bottom: 10px;
}

#userInfo .contactProfilePicture {
    border-radius: 100px;
    vertical-align: middle;
    height: 60px;
    width: 60px;
}

#userInfo label {
    font-family: Poppins;
    font-weight: 500;
    margin-left: 10px;
}

#userInfo div:nth-child(2) button {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    transition: all ease-in-out 0.3s;
    float: right;
    margin-right: 10px;
}

#userInfo div:nth-child(2) button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#messages {
    height: 620px;
    overflow-y: scroll;
    margin: 0;
    padding: 15px;
}

#messageInputContainer {
    width: 100%;
    display: flex;
}

#messageInput {
    width: 1220px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 100px;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    background-color: #F3F4F6;
    height: 40px;
    padding: 5px 30px;
    font-size: 15px;
}

#messageButton {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    background-color: #E5E7EB;
    color: #4B5563;
    border-radius: 10px;
    margin-left: 10px;
}

.messageAuthor {
    background-color: #7C3AED;
    width: fit-content;
    list-style-type: none;
    color: white;
    font-family: Poppins;
    margin-bottom: 5px;
    border-radius: 15px;
    float: right;
    padding: 10px;
    clear: both;
}

.messageOpponent {
    background-color: #E5E7EB;
    width: fit-content;
    list-style-type: none;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 10px;
    clear: both;
}

.mainContainer {
    width: 1800px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 80%;
}